<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>activity_icon_57758_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,771},{628,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,226}}</string>
                <key>sourceSize</key>
                <string>{628,226}</string>
            </dict>
            <key>activity_icon_57785_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,802},{628,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,226}}</string>
                <key>sourceSize</key>
                <string>{628,226}</string>
            </dict>
            <key>activity_icon_57812_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,1776},{628,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,226}}</string>
                <key>sourceSize</key>
                <string>{628,226}</string>
            </dict>
            <key>activity_icon_57813_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,802},{628,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,226}}</string>
                <key>sourceSize</key>
                <string>{628,226}</string>
            </dict>
            <key>activity_icon_69_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,802},{628,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,226}}</string>
                <key>sourceSize</key>
                <string>{628,226}</string>
            </dict>
            <key>activity_icon_LSSharePic_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,860},{628,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,226}}</string>
                <key>sourceSize</key>
                <string>{628,226}</string>
            </dict>
            <key>activity_icon_ValentineBp_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,860},{628,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,226}}</string>
                <key>sourceSize</key>
                <string>{628,226}</string>
            </dict>
            <key>activity_icon_gvg_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,230},{628,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,226}}</string>
                <key>sourceSize</key>
                <string>{628,226}</string>
            </dict>
            <key>activity_icon_kr_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,230},{628,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,226}}</string>
                <key>sourceSize</key>
                <string>{628,226}</string>
            </dict>
            <key>activity_icon_qmsdw_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,860},{628,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,226}}</string>
                <key>sourceSize</key>
                <string>{628,226}</string>
            </dict>
            <key>activity_icon_sticker_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,230},{628,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,226}}</string>
                <key>sourceSize</key>
                <string>{628,226}</string>
            </dict>
            <key>activity_icon_xys_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,860},{628,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,226}}</string>
                <key>sourceSize</key>
                <string>{628,226}</string>
            </dict>
            <key>activity_icon_zombie_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{628,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,226}}</string>
                <key>sourceSize</key>
                <string>{628,226}</string>
            </dict>
            <key>anniversary2025_sign_banner_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,2},{628,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,226}}</string>
                <key>sourceSize</key>
                <string>{628,226}</string>
            </dict>
            <key>banne_rsticker_2024spring_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{628,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,226}}</string>
                <key>sourceSize</key>
                <string>{628,226}</string>
            </dict>
            <key>banner_0116bp_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{628,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,226}}</string>
                <key>sourceSize</key>
                <string>{628,226}</string>
            </dict>
            <key>banner_2024children_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1577,1432},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>banner_2024yuandanbp_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,1432},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>banner_2025zhounian_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1175,458},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>banner_2505bp_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,1432},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>banner_4yuebp_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,458},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>banner_5yuebp_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1490},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>banner_6yuebp_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,1490},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>banner_7yuebp_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1490},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>banner_MSXB1107_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,230},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
            <key>banner_anniversary_boss_2024_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,230},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
            <key>banner_anniversary_boss_gongsheng_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,458},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
            <key>banner_anniversary_boss_snake_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,1834},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
            <key>banner_bushou_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,543},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
            <key>banner_celebration_2025_milestone_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,230},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
            <key>banner_celebration_2025_shop_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,1834},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
            <key>banner_chunjiebp_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1834},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
            <key>banner_diwangbp_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1834},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Activity_Ad_FB23.pkm</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7553ad1fdcb8a82f3a94656db20cfc1b:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Activity_Ad_FB23.pkm</string>
        </dict>
    </dict>
</plist>
