<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Banner_songhua23_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,1718},{314,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,343}}</string>
                <key>sourceSize</key>
                <string>{314,343}</string>
            </dict>
            <key>Christmas2022_BP_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,1718},{314,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,343}}</string>
                <key>sourceSize</key>
                <string>{314,343}</string>
            </dict>
            <key>FB2anbo.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,240},{640,236}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{640,236}}</string>
                <key>sourceSize</key>
                <string>{640,270}</string>
            </dict>
            <key>FB2baxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,882},{640,236}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,29},{640,236}}</string>
                <key>sourceSize</key>
                <string>{640,270}</string>
            </dict>
            <key>FB2chaojinengyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,240},{640,236}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,29},{640,236}}</string>
                <key>sourceSize</key>
                <string>{640,270}</string>
            </dict>
            <key>FB2jijia23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1762},{640,236}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{640,236}}</string>
                <key>sourceSize</key>
                <string>{640,270}</string>
            </dict>
            <key>FB2jingguan_zlj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1524},{640,236}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{640,236}}</string>
                <key>sourceSize</key>
                <string>{640,270}</string>
            </dict>
            <key>FB2jingyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,882},{640,236}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,29},{640,236}}</string>
                <key>sourceSize</key>
                <string>{640,270}</string>
            </dict>
            <key>FB2jizhanshuju.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{640,236}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,29},{640,236}}</string>
                <key>sourceSize</key>
                <string>{640,270}</string>
            </dict>
            <key>FB2juhe.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,2},{640,236}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{640,236}}</string>
                <key>sourceSize</key>
                <string>{640,270}</string>
            </dict>
            <key>FB2niukou.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{640,236}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{640,236}}</string>
                <key>sourceSize</key>
                <string>{640,270}</string>
            </dict>
            <key>FB2shoubei23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,236}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{640,236}}</string>
                <key>sourceSize</key>
                <string>{640,270}</string>
            </dict>
            <key>FB_IC_2024xiariLeiChong_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,718},{640,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,132}}</string>
                <key>sourceSize</key>
                <string>{640,132}</string>
            </dict>
            <key>FB_IC_fuhuojieriDuiHuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,584},{640,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,132}}</string>
                <key>sourceSize</key>
                <string>{640,132}</string>
            </dict>
            <key>FBjgSignLibra01.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,882},{640,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,235}}</string>
                <key>sourceSize</key>
                <string>{640,235}</string>
            </dict>
            <key>Picture_duanwujie_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,1524},{640,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,192}}</string>
                <key>sourceSize</key>
                <string>{640,192}</string>
            </dict>
            <key>Picture_ertongjiepintu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,882},{640,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,192}}</string>
                <key>sourceSize</key>
                <string>{640,192}</string>
            </dict>
            <key>Picture_feixutanxian_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,240},{640,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,192}}</string>
                <key>sourceSize</key>
                <string>{640,192}</string>
            </dict>
            <key>Picture_lianmengleichong.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,882},{640,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,192}}</string>
                <key>sourceSize</key>
                <string>{640,192}</string>
            </dict>
            <key>Picture_nianshou_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,240},{640,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,192}}</string>
                <key>sourceSize</key>
                <string>{640,192}</string>
            </dict>
            <key>Picture_snowboss_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,240},{640,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,192}}</string>
                <key>sourceSize</key>
                <string>{640,192}</string>
            </dict>
            <key>Picture_wanchengjie_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,240},{640,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,192}}</string>
                <key>sourceSize</key>
                <string>{640,192}</string>
            </dict>
            <key>activity_icon_57720_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1665,1166},{312,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,167}}</string>
                <key>sourceSize</key>
                <string>{312,167}</string>
            </dict>
            <key>activity_icon_57735_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,852},{312,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,167}}</string>
                <key>sourceSize</key>
                <string>{312,167}</string>
            </dict>
            <key>activity_icon_57774.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,882},{640,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,216}}</string>
                <key>sourceSize</key>
                <string>{640,216}</string>
            </dict>
            <key>activity_icon_gammastorm_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1753},{629,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{629,227}}</string>
                <key>sourceSize</key>
                <string>{629,227}</string>
            </dict>
            <key>activity_icon_personalExpedition_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1524},{629,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{629,227}}</string>
                <key>sourceSize</key>
                <string>{629,227}</string>
            </dict>
            <key>shanzhaiboss_activity_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,1196},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>shiluo_banner_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,852},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>spring_activity_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1613,240},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>version_outlook01_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,240},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Activity_Ad_FB13.pkm</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:500c1661f3586efb4c4f6649b9e2b213:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Activity_Ad_FB13.pkm</string>
        </dict>
    </dict>
</plist>
