<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2023Halloween_sign_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1722},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>2023_ZNshangdian_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1378},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>2023_halloween_PIC_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1034},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>Anniversary2022_livehouse_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>Anniversary2023_livehouse_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>B_Icon_feixutanxian_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>activity_banner_thanksgiving_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,1503},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
            <key>activity_icon1_57719_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,1671},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
            <key>activity_icon2_57719_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,1671},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
            <key>activity_icon2_57759_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,1671},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
            <key>activity_icon_30Survivor_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1279,1109},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
            <key>activity_icon_57044_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,1190},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
            <key>activity_icon_57062_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,1503},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
            <key>activity_icon_57600_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,1190},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
            <key>activity_icon_57711_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1656,1022},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
            <key>activity_icon_57713_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1343,941},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
            <key>activity_icon_57716_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,941},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
            <key>activity_icon_57717_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,854},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
            <key>activity_icon_57731_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,686},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
            <key>activity_icon_kr_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,628},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>activity_icon_zombie_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,628},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>banner_anniversary_boss_2024_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,1712},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>banner_heaven_fall_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1370},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>common_activity_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1028},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>loe_advertising_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,686},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>ls_oldser_td_activity_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1712},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>picture_baojiaweiguo_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,1370},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>picture_bingduyanjiu_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,1028},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>picture_kaijiangtuotu_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,686},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>picture_lianmenghuoyue_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,344},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>picture_lianmengjingying_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,315},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>picture_lingganyufaming_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,315},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>picture_luxiyadeshilian_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,315},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>picture_peijianshengji_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,315},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>picture_rencaijihua_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,2},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>picture_shareactivity_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,2},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>picture_xingcunzheqingdian_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,2},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>prison_chuanqi_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>tile_pop_icon68_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>twd2023_sign_PIC_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Activity_Ad_FB29.pkm</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:beb01468d3cff4a5993b18d9eeafcfcb:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Activity_Ad_FB29.pkm</string>
        </dict>
    </dict>
</plist>
