<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FB_lingganyufaming_BG_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,357},{640,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,353}}</string>
                <key>sourceSize</key>
                <string>{640,353}</string>
            </dict>
            <key>FB_morishuguang_BG_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,1422},{640,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,353}}</string>
                <key>sourceSize</key>
                <string>{640,353}</string>
            </dict>
            <key>FB_morizhizhan_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,1067},{640,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,353}}</string>
                <key>sourceSize</key>
                <string>{640,353}</string>
            </dict>
            <key>FB_qinglisangshi_BG_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,712},{640,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,353}}</string>
                <key>sourceSize</key>
                <string>{640,353}</string>
            </dict>
            <key>FB_rencaijihua_BG_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,357},{640,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,353}}</string>
                <key>sourceSize</key>
                <string>{640,353}</string>
            </dict>
            <key>FB_wenminghuozhong_BG_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1641},{640,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,353}}</string>
                <key>sourceSize</key>
                <string>{640,353}</string>
            </dict>
            <key>FB_xiufugongcheng_BG_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,999},{640,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,353}}</string>
                <key>sourceSize</key>
                <string>{640,353}</string>
            </dict>
            <key>FB_yingxiongyuanzheng_BG_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,1067},{640,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,353}}</string>
                <key>sourceSize</key>
                <string>{640,353}</string>
            </dict>
            <key>Picture_buouxiong_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,357},{640,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,353}}</string>
                <key>sourceSize</key>
                <string>{640,353}</string>
            </dict>
            <key>Picture_chunjieliwu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1641},{640,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,353}}</string>
                <key>sourceSize</key>
                <string>{640,353}</string>
            </dict>
            <key>Picture_duanwujie_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,999},{640,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,353}}</string>
                <key>sourceSize</key>
                <string>{640,353}</string>
            </dict>
            <key>Picture_ertongjiepintu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,357},{640,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,353}}</string>
                <key>sourceSize</key>
                <string>{640,353}</string>
            </dict>
            <key>Picture_huhuashizhe_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,2},{640,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,353}}</string>
                <key>sourceSize</key>
                <string>{640,353}</string>
            </dict>
            <key>Picture_liuyiertongjie_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{640,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,353}}</string>
                <key>sourceSize</key>
                <string>{640,353}</string>
            </dict>
            <key>Picture_nianshou_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,353}}</string>
                <key>sourceSize</key>
                <string>{640,353}</string>
            </dict>
            <key>img_evententrance_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,999},{312,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,167}}</string>
                <key>sourceSize</key>
                <string>{312,167}</string>
            </dict>
            <key>picture_fengheguai_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1067,357},{640,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,192}}</string>
                <key>sourceSize</key>
                <string>{640,192}</string>
            </dict>
            <key>picture_fulunken_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,1422},{640,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,192}}</string>
                <key>sourceSize</key>
                <string>{640,192}</string>
            </dict>
            <key>picture_memorypuzzle_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,1777},{629,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{629,227}}</string>
                <key>sourceSize</key>
                <string>{629,227}</string>
            </dict>
            <key>picture_memorypuzzle_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,999},{314,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,343}}</string>
                <key>sourceSize</key>
                <string>{314,343}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Activity_Ad_FB7.pkm</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe522af13851ed2255ced949931d00ec:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Activity_Ad_FB7.pkm</string>
        </dict>
    </dict>
</plist>
