<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2023_ZNshangdian_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{628,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,226}}</string>
                <key>sourceSize</key>
                <string>{628,226}</string>
            </dict>
            <key>2023_halloween_PIC_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{628,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,226}}</string>
                <key>sourceSize</key>
                <string>{628,226}</string>
            </dict>
            <key>B_Icon_ganenjie_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1569,1658},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>B_Icon_hongbaoyu_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1569,1175},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>B_Icon_zhounian_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1569,860},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>Christmas2023_sign_banner_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,1399},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>Newyear2024_sign_banner_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,1055},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>PartyLeader_monster_PIC_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,545},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>PlantationFlower_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,545},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>SpringFestival2024_monster_PIC_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,230},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>TWD_Maggie_BP_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,230},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>TWD_Prison_BP_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1430},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>TWD_collection_event_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1086},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>TWD_xiansuozhuizong_PIC_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,230},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>TWDfangche_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,230},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>TwdP2_WatchingVideo_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,742},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>WedTowerDefense_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,1430},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>XR_bp_banner_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,1086},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>ZN_baolei_banner_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,230},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>activity_banner_thanksgiving_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,742},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>activity_icon3_57759_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1547},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>activity_icon_57044_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1203},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>activity_icon_57062_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,230},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>activity_icon_57713_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,859},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>activity_icon_57732_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,1028},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
            <key>activity_icon_57736_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1575,1490},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
            <key>activity_icon_57748_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,1490},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
            <key>activity_icon_57752_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{627,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{627,226}}</string>
                <key>sourceSize</key>
                <string>{627,226}</string>
            </dict>
            <key>activity_icon_57752_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,1743},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
            <key>activity_icon_57792_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1115,860},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
            <key>activity_icon_57900_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,742},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
            <key>activity_icon_69_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,1774},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
            <key>activity_icon_LSSharePic_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,574},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
            <key>activity_icon_ValentineBp_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1774},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
            <key>activity_icon_gvg_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,1774},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
            <key>activity_icon_kr_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,574},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
            <key>activity_icon_qmsdw_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,574},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
            <key>activity_icon_topArena_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,2},{627,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{627,226}}</string>
                <key>sourceSize</key>
                <string>{627,226}</string>
            </dict>
            <key>twd2023_field_monster_PIC_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,230},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Activity_Ad_FB28.pkm</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cebb6759026a4ab6d99848034b826161:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Activity_Ad_FB28.pkm</string>
        </dict>
    </dict>
</plist>
