<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>banner_0124bp_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,771},{628,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,226}}</string>
                <key>sourceSize</key>
                <string>{628,226}</string>
            </dict>
            <key>banner_0209bp_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,802},{628,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,226}}</string>
                <key>sourceSize</key>
                <string>{628,226}</string>
            </dict>
            <key>banner_0226bp_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,1776},{628,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,226}}</string>
                <key>sourceSize</key>
                <string>{628,226}</string>
            </dict>
            <key>banner_0314bp_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,802},{628,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,226}}</string>
                <key>sourceSize</key>
                <string>{628,226}</string>
            </dict>
            <key>banner_0415bp_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,802},{628,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,226}}</string>
                <key>sourceSize</key>
                <string>{628,226}</string>
            </dict>
            <key>banner_0423bp_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,860},{628,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,226}}</string>
                <key>sourceSize</key>
                <string>{628,226}</string>
            </dict>
            <key>banner_0525bp_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,860},{628,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,226}}</string>
                <key>sourceSize</key>
                <string>{628,226}</string>
            </dict>
            <key>banner_10yuebp_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,230},{628,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,226}}</string>
                <key>sourceSize</key>
                <string>{628,226}</string>
            </dict>
            <key>banner_10yuexiabp_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,230},{628,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,226}}</string>
                <key>sourceSize</key>
                <string>{628,226}</string>
            </dict>
            <key>banner_11yuebp_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,860},{628,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,226}}</string>
                <key>sourceSize</key>
                <string>{628,226}</string>
            </dict>
            <key>banner_11yuexiabp_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,230},{628,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,226}}</string>
                <key>sourceSize</key>
                <string>{628,226}</string>
            </dict>
            <key>banner_1203bp_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,860},{628,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,226}}</string>
                <key>sourceSize</key>
                <string>{628,226}</string>
            </dict>
            <key>banner_1210bp_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{628,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,226}}</string>
                <key>sourceSize</key>
                <string>{628,226}</string>
            </dict>
            <key>banner_1216bp_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,2},{628,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,226}}</string>
                <key>sourceSize</key>
                <string>{628,226}</string>
            </dict>
            <key>banner_1223bp_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{628,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,226}}</string>
                <key>sourceSize</key>
                <string>{628,226}</string>
            </dict>
            <key>banner_1231bp_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{628,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,226}}</string>
                <key>sourceSize</key>
                <string>{628,226}</string>
            </dict>
            <key>banner_8yuebp_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1577,1432},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>banner_8yuexiabp_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,1432},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>banner_9yuebp_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1175,458},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>banner_AllianceBoss_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,1432},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>banner_MSXB0819_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,458},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>banner_MSXB1107_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1490},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>banner_anniversary_boss_gongsheng_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,1490},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>banner_anniversary_boss_snake_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1490},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>banner_fhjbp_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,230},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
            <key>banner_ftmb_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,230},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
            <key>banner_gaizhuangche_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,458},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
            <key>banner_genenjiebp_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,1834},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
            <key>banner_golenloin01_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,543},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
            <key>banner_heaven_fall_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,230},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
            <key>banner_jqsyue_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,1834},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
            <key>banner_ldhdzx_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1834},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
            <key>banner_lost_tower_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1834},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Activity_Ad_FB22.pkm</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba0431f9589beb52bdc2ff632da3638e:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Activity_Ad_FB22.pkm</string>
        </dict>
    </dict>
</plist>
