<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>57045_ad1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,2},{640,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,353}}</string>
                <key>sourceSize</key>
                <string>{640,353}</string>
            </dict>
            <key>Alliance_Ad_Black_Friday.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{640,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,353}}</string>
                <key>sourceSize</key>
                <string>{640,353}</string>
            </dict>
            <key>FB2aniverary2306.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,357},{640,254}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{640,254}}</string>
                <key>sourceSize</key>
                <string>{640,270}</string>
            </dict>
            <key>FB2chunvzuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,357},{640,258}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{640,258}}</string>
                <key>sourceSize</key>
                <string>{640,270}</string>
            </dict>
            <key>FB2meiriremai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,999},{640,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,270}}</string>
                <key>sourceSize</key>
                <string>{640,270}</string>
            </dict>
            <key>FB2tehui2.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,357},{640,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,270}}</string>
                <key>sourceSize</key>
                <string>{640,270}</string>
            </dict>
            <key>FB2tiepian23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1481,999},{640,258}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{640,258}}</string>
                <key>sourceSize</key>
                <string>{640,270}</string>
            </dict>
            <key>FB2yingxiongjinianzhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,357},{640,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{640,260}}</string>
                <key>sourceSize</key>
                <string>{640,270}</string>
            </dict>
            <key>FB2yuemaiyuezhuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,999},{640,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,270}}</string>
                <key>sourceSize</key>
                <string>{640,270}</string>
            </dict>
            <key>FB2zuanshi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,357},{640,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,270}}</string>
                <key>sourceSize</key>
                <string>{640,270}</string>
            </dict>
            <key>FB2zuanshi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,999},{640,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,270}}</string>
                <key>sourceSize</key>
                <string>{640,270}</string>
            </dict>
            <key>FB_2024shengdan_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,353}}</string>
                <key>sourceSize</key>
                <string>{640,353}</string>
            </dict>
            <key>FB_kejibolanhui_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1641},{640,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,346}}</string>
                <key>sourceSize</key>
                <string>{640,346}</string>
            </dict>
            <key>FB_laborduihuan_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,999},{640,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,346}}</string>
                <key>sourceSize</key>
                <string>{640,346}</string>
            </dict>
            <key>FB_saijixianli_BG_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,357},{640,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,346}}</string>
                <key>sourceSize</key>
                <string>{640,346}</string>
            </dict>
            <key>FBjgRobotFz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1741,999},{640,240}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,25},{640,240}}</string>
                <key>sourceSize</key>
                <string>{640,270}</string>
            </dict>
            <key>activity_banner_57742_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,999},{640,313}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,313}}</string>
                <key>sourceSize</key>
                <string>{640,313}</string>
            </dict>
            <key>activity_icon_personalExpedition_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,1641},{314,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,343}}</string>
                <key>sourceSize</key>
                <string>{314,343}</string>
            </dict>
            <key>img_evententrance_m_00_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,1641},{314,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,343}}</string>
                <key>sourceSize</key>
                <string>{314,343}</string>
            </dict>
            <key>img_evententrance_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,1641},{314,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,343}}</string>
                <key>sourceSize</key>
                <string>{314,343}</string>
            </dict>
            <key>img_twd_57766_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1641},{314,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,343}}</string>
                <key>sourceSize</key>
                <string>{314,343}</string>
            </dict>
            <key>u_desert_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,357},{640,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,342}}</string>
                <key>sourceSize</key>
                <string>{640,342}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Activity_Ad_FB10.pkm</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4459a604f96c57aa5038d6cd1473e94:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Activity_Ad_FB10.pkm</string>
        </dict>
    </dict>
</plist>
