<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FB_IC_2024ganenLeiChong.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,838},{640,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,192}}</string>
                <key>sourceSize</key>
                <string>{640,192}</string>
            </dict>
            <key>FB_IC_2024shengdan.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,196},{640,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,192}}</string>
                <key>sourceSize</key>
                <string>{640,192}</string>
            </dict>
            <key>FB_IC_2024xiariLeiChong.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,838},{640,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,192}}</string>
                <key>sourceSize</key>
                <string>{640,192}</string>
            </dict>
            <key>FB_IC_2025chunjie.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,196},{640,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,192}}</string>
                <key>sourceSize</key>
                <string>{640,192}</string>
            </dict>
            <key>FB_IC_2025chunri.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1824},{640,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,192}}</string>
                <key>sourceSize</key>
                <string>{640,192}</string>
            </dict>
            <key>FB_IC_2025fuhuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,838},{640,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,192}}</string>
                <key>sourceSize</key>
                <string>{640,192}</string>
            </dict>
            <key>FB_IC_2025qingrenjie.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{640,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,192}}</string>
                <key>sourceSize</key>
                <string>{640,192}</string>
            </dict>
            <key>FB_IC_2025star.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,2},{640,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,192}}</string>
                <key>sourceSize</key>
                <string>{640,192}</string>
            </dict>
            <key>FB_IC_2025xiari.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{640,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,192}}</string>
                <key>sourceSize</key>
                <string>{640,192}</string>
            </dict>
            <key>FB_IC_2025yuandan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,192}}</string>
                <key>sourceSize</key>
                <string>{640,192}</string>
            </dict>
            <key>FB_fengshou_PIC.png</key>
            <dict>
                <key>frame</key>
                <string>{{1301,1081},{640,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,175}}</string>
                <key>sourceSize</key>
                <string>{640,175}</string>
            </dict>
            <key>Picture_chunjieliwu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,904},{640,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,175}}</string>
                <key>sourceSize</key>
                <string>{640,175}</string>
            </dict>
            <key>Picture_huhuashizhe_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,1812},{640,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,175}}</string>
                <key>sourceSize</key>
                <string>{640,175}</string>
            </dict>
            <key>Picture_liuyiertongjie_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,1170},{640,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,175}}</string>
                <key>sourceSize</key>
                <string>{640,175}</string>
            </dict>
            <key>Picture_qixi640-175.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,1170},{640,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,175}}</string>
                <key>sourceSize</key>
                <string>{640,175}</string>
            </dict>
            <key>Picture_shengdanjie_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,727},{640,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,175}}</string>
                <key>sourceSize</key>
                <string>{640,175}</string>
            </dict>
            <key>Picture_wuyihuodong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,550},{640,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,175}}</string>
                <key>sourceSize</key>
                <string>{640,175}</string>
            </dict>
            <key>TwdP2_WatchingVideo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,373},{640,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,175}}</string>
                <key>sourceSize</key>
                <string>{640,175}</string>
            </dict>
            <key>UI_xinnianlibaoxiao_PIC.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,838},{640,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,175}}</string>
                <key>sourceSize</key>
                <string>{640,175}</string>
            </dict>
            <key>UI_yurenjiehuodongtu_PIC.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,196},{640,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,175}}</string>
                <key>sourceSize</key>
                <string>{640,175}</string>
            </dict>
            <key>activity_icon_57719_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,1081},{312,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,167}}</string>
                <key>sourceSize</key>
                <string>{312,167}</string>
            </dict>
            <key>activity_top_57128.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,196},{640,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,175}}</string>
                <key>sourceSize</key>
                <string>{640,175}</string>
            </dict>
            <key>alliance_wansheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1824},{640,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,175}}</string>
                <key>sourceSize</key>
                <string>{640,175}</string>
            </dict>
            <key>img_summer_57770_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,1396},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>picture_BOG_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,1081},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>picture_bingshuangxiari_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,838},{640,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,175}}</string>
                <key>sourceSize</key>
                <string>{640,175}</string>
            </dict>
            <key>picture_daxiaoguai_model2.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,855},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>picture_dongyuanling_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,540},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>picture_fuhuojie_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,196},{640,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,175}}</string>
                <key>sourceSize</key>
                <string>{640,175}</string>
            </dict>
            <key>picture_gangtieconglin_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,196},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>picture_huangyeyouqibing_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1480},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>picture_jinjijiuyuan_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,1480},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>picture_lingdianxingdong_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1480},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Activity_Ad_FB15.pkm</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:323b30aa224cac43320846c6b783e768:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Activity_Ad_FB15.pkm</string>
        </dict>
    </dict>
</plist>
