<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Picture_qixi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,357},{640,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,353}}</string>
                <key>sourceSize</key>
                <string>{640,353}</string>
            </dict>
            <key>Picture_snowboss_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,1422},{640,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,353}}</string>
                <key>sourceSize</key>
                <string>{640,353}</string>
            </dict>
            <key>Picture_wanshengjie_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,1422},{640,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,353}}</string>
                <key>sourceSize</key>
                <string>{640,353}</string>
            </dict>
            <key>Picture_wanshengjiehuodong_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,1067},{640,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,353}}</string>
                <key>sourceSize</key>
                <string>{640,353}</string>
            </dict>
            <key>Picture_wuyihuodong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,712},{640,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,353}}</string>
                <key>sourceSize</key>
                <string>{640,353}</string>
            </dict>
            <key>Picture_xunlu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,357},{640,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,353}}</string>
                <key>sourceSize</key>
                <string>{640,353}</string>
            </dict>
            <key>Picture_xunzhaonianshou_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1641},{640,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,353}}</string>
                <key>sourceSize</key>
                <string>{640,353}</string>
            </dict>
            <key>Picture_zhuanjing_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,999},{640,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,353}}</string>
                <key>sourceSize</key>
                <string>{640,353}</string>
            </dict>
            <key>UI_daguaidiaoluo_PIC01.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,357},{640,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,353}}</string>
                <key>sourceSize</key>
                <string>{640,353}</string>
            </dict>
            <key>UI_shengdanlibaoda_PIC.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1641},{640,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,353}}</string>
                <key>sourceSize</key>
                <string>{640,353}</string>
            </dict>
            <key>UI_xinnianlibaoda_PIC.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,999},{640,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,353}}</string>
                <key>sourceSize</key>
                <string>{640,353}</string>
            </dict>
            <key>UI_yurenjieda_PIC.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,357},{640,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,353}}</string>
                <key>sourceSize</key>
                <string>{640,353}</string>
            </dict>
            <key>activity_ad_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,2},{640,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,353}}</string>
                <key>sourceSize</key>
                <string>{640,353}</string>
            </dict>
            <key>activity_ad_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{640,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,353}}</string>
                <key>sourceSize</key>
                <string>{640,353}</string>
            </dict>
            <key>activity_ad_57060.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,353}}</string>
                <key>sourceSize</key>
                <string>{640,353}</string>
            </dict>
            <key>img_twd_57766_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,999},{312,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,167}}</string>
                <key>sourceSize</key>
                <string>{312,167}</string>
            </dict>
            <key>picture_jijia_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1067,357},{640,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,192}}</string>
                <key>sourceSize</key>
                <string>{640,192}</string>
            </dict>
            <key>picture_meilizhixing_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,1422},{640,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,192}}</string>
                <key>sourceSize</key>
                <string>{640,192}</string>
            </dict>
            <key>picture_nianshou_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,1777},{629,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{629,227}}</string>
                <key>sourceSize</key>
                <string>{629,227}</string>
            </dict>
            <key>picture_nianshou_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,999},{314,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,343}}</string>
                <key>sourceSize</key>
                <string>{314,343}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Activity_Ad_FB6.pkm</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea5821621fb77a48c89e36fa9d0a2212:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Activity_Ad_FB6.pkm</string>
        </dict>
    </dict>
</plist>
