<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2025_zhounian_PIC_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,1526},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
            <key>Banner_qiuri_sign_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1787},{628,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,226}}</string>
                <key>sourceSize</key>
                <string>{628,226}</string>
            </dict>
            <key>Banner_qiuri_sign_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,1374},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>Banner_qiuri_sign_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1575,1480},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
            <key>FB_2025halloween_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,353}}</string>
                <key>sourceSize</key>
                <string>{640,353}</string>
            </dict>
            <key>IC_shengdanlaoren_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,1358},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
            <key>WedTowerDefense_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,1312},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
            <key>XR_bp_banner_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1337,1190},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
            <key>ZN_baolei_banner_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1337,1022},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
            <key>act_ceshi1_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1904,312},{96,116}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,12},{96,116}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>act_ceshi1_logo_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1904,208},{102,116}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,11},{102,116}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>act_qixi_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1904,2},{132,106}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{132,106}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>act_qixi_logo_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1904,2},{132,106}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{132,106}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>act_zhongqiu_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1904,110},{126,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,18},{126,96}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>activity_icon_58003_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,813},{628,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,226}}</string>
                <key>sourceSize</key>
                <string>{628,226}</string>
            </dict>
            <key>activity_icon_58003_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,1030},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>activity_icon_58003_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1795,999},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
            <key>activity_icon_58004_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1787},{628,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,226}}</string>
                <key>sourceSize</key>
                <string>{628,226}</string>
            </dict>
            <key>activity_icon_58004_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,686},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>activity_icon_58004_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,854},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
            <key>banner_0803bp_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,813},{628,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,226}}</string>
                <key>sourceSize</key>
                <string>{628,226}</string>
            </dict>
            <key>banner_0803bp_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1443},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>banner_0803bp_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1795,686},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
            <key>banner_alliance_championship_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,813},{628,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,226}}</string>
                <key>sourceSize</key>
                <string>{628,226}</string>
            </dict>
            <key>banner_alliance_championship_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,686},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>banner_alliance_championship_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,686},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
            <key>banner_chiyanjiaoyang_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,458},{628,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,226}}</string>
                <key>sourceSize</key>
                <string>{628,226}</string>
            </dict>
            <key>banner_jijiachibang_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,585},{628,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,226}}</string>
                <key>sourceSize</key>
                <string>{628,226}</string>
            </dict>
            <key>banner_qiuribp_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,458},{628,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,226}}</string>
                <key>sourceSize</key>
                <string>{628,226}</string>
            </dict>
            <key>banner_qiuribp_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,1443},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>banner_qiuribp_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,686},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
            <key>banner_sendflower2509_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,357},{628,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,226}}</string>
                <key>sourceSize</key>
                <string>{628,226}</string>
            </dict>
            <key>banner_sendflower2510_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,230},{628,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,226}}</string>
                <key>sourceSize</key>
                <string>{628,226}</string>
            </dict>
            <key>banner_shizibp_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,230},{628,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,226}}</string>
                <key>sourceSize</key>
                <string>{628,226}</string>
            </dict>
            <key>banner_shizibp_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1443},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>banner_shizibp_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,1028},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
            <key>banner_simo_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,2},{628,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,226}}</string>
                <key>sourceSize</key>
                <string>{628,226}</string>
            </dict>
            <key>banner_zhongqiu_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{628,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,226}}</string>
                <key>sourceSize</key>
                <string>{628,226}</string>
            </dict>
            <key>banner_zhongqiu_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,1028},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Activity_Ad_FB32.pkm</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:786ae79f924a8e430807b9ef6e1cbb33:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Activity_Ad_FB32.pkm</string>
        </dict>
    </dict>
</plist>
