<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2025_zhounian_PIC_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1712,1028},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>B_Icon_Christmastree_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,941},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>B_Icon_SpringGift_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,1712},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>B_Icon_bayinhe_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,1370},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>B_Icon_buouxiong_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,1028},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>B_Icon_christmas_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1712,686},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>B_Icon_christmas_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1712,686},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>B_Icon_datihuodong_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,628},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>B_Icon_duanwujie_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,628},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>B_Icon_fengheguai_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,1712},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>B_Icon_fulunken_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,1370},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>B_Icon_huhuashizhe_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,1028},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>B_Icon_jijia_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,686},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>B_Icon_kejiqiandao_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1712,344},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>B_Icon_nianshou_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,315},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>B_Icon_snowboss_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,315},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>B_Icon_wanshengjie_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,315},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>B_Icon_yurenjie1_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1712},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>B_Icon_yurenjie_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,315},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>B_Icon_zhaiyue_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1370},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>B_Icon_zhongqiuyuebing_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1028},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>B_Icon_zhuanjing_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,686},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>Banner_2023qixisonghua_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,344},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>Banner_anniversary2023songhua_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1712,2},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>Banner_liandongsonghua_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,2},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>IC_shengdanlaoren_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,2},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>Seven_icon_7day_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>activity_ad_57065_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>activity_ad_57065_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,1711},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
            <key>activity_alliance_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1712},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>activity_alliance_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,1711},{311,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,166}}</string>
                <key>sourceSize</key>
                <string>{311,166}</string>
            </dict>
            <key>activity_icon1_57719_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1370},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>activity_icon2_57719_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1370},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>activity_icon_30Survivor_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1028},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>activity_icon_57600_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>activity_icon_57711_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>activity_icon_69_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>activity_icon_localArena_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,1370},{310,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,339}}</string>
                <key>sourceSize</key>
                <string>{310,339}</string>
            </dict>
            <key>activity_icon_seasonArena_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,1370},{310,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,339}}</string>
                <key>sourceSize</key>
                <string>{310,339}</string>
            </dict>
            <key>fightExchange_banner1_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,686},{311,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,340}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Activity_Ad_FB30.pkm</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2fc1663936c7bcc0a09f4394428d1e45:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Activity_Ad_FB30.pkm</string>
        </dict>
    </dict>
</plist>
