<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FB_2025fuhuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,1990},{207,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,39}}</string>
                <key>sourceSize</key>
                <string>{207,39}</string>
            </dict>
            <key>PayLock_damen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{608,648}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,648}}</string>
                <key>sourceSize</key>
                <string>{608,648}</string>
            </dict>
            <key>PayLock_motianlun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{608,648}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,648}}</string>
                <key>sourceSize</key>
                <string>{608,648}</string>
            </dict>
            <key>Picture_qixi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1673,644},{590,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,161}}</string>
                <key>sourceSize</key>
                <string>{590,161}</string>
            </dict>
            <key>XR_0415bp1_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,2},{640,503}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,503}}</string>
                <key>sourceSize</key>
                <string>{640,503}</string>
            </dict>
            <key>XR_0423bp1_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,644},{640,503}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,503}}</string>
                <key>sourceSize</key>
                <string>{640,503}</string>
            </dict>
            <key>XR_2505bp1_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,1286},{640,503}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,503}}</string>
                <key>sourceSize</key>
                <string>{640,503}</string>
            </dict>
            <key>act_celebration_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1791,1920},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{122,122}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>act_celebration_logo_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1791,1920},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{122,122}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>act_chunjie2025logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,1928},{110,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,109}}</string>
                <key>sourceSize</key>
                <string>{110,109}</string>
            </dict>
            <key>act_chunjie2025logo_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,1928},{110,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,109}}</string>
                <key>sourceSize</key>
                <string>{110,109}</string>
            </dict>
            <key>act_gift_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1944},{102,116}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,11},{102,116}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>act_gift_logo_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1944},{102,116}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,11},{102,116}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>act_shuangdanlogo.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1944},{102,98}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{102,98}}</string>
                <key>sourceSize</key>
                <string>{116,100}</string>
            </dict>
            <key>act_shuangdanlogo_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1944},{102,98}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{102,98}}</string>
                <key>sourceSize</key>
                <string>{116,100}</string>
            </dict>
            <key>act_wanshengjielogo.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1944},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>act_wanshengjielogo_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1944},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>act_xiaohuangya_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1944},{96,116}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,12},{96,116}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>act_xiaohuangya_logo_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1944},{96,116}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,12},{96,116}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>banner_2025qingrenjie.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{640,622}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,622}}</string>
                <key>sourceSize</key>
                <string>{640,712}</string>
            </dict>
            <key>banner_wanshengjie2.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1286},{640,528}}</string>
                <key>offset</key>
                <string>{0,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,528}}</string>
                <key>sourceSize</key>
                <string>{640,712}</string>
            </dict>
            <key>bg_thsc_zixuan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1029,1928},{237,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,86}}</string>
                <key>sourceSize</key>
                <string>{237,86}</string>
            </dict>
            <key>bg_thsc_zixuan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1928},{237,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,86}}</string>
                <key>sourceSize</key>
                <string>{237,86}</string>
            </dict>
            <key>bg_thsc_zixuan_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1944},{237,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,86}}</string>
                <key>sourceSize</key>
                <string>{237,86}</string>
            </dict>
            <key>dy_UI_Recharge_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1302},{640,628}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,628}}</string>
                <key>sourceSize</key>
                <string>{640,628}</string>
            </dict>
            <key>dy_UI_Recharge_bg0.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,644},{640,554}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,554}}</string>
                <key>sourceSize</key>
                <string>{640,562}</string>
            </dict>
            <key>picture_firstday_mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1667,1286},{632,230}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,230}}</string>
                <key>sourceSize</key>
                <string>{632,232}</string>
            </dict>
            <key>zhounianlogo2024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,1928},{521,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{521,60}}</string>
                <key>sourceSize</key>
                <string>{521,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Activity_Ad_FB2.pkm</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93ee863c6436de8d8b294d625804268e:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Activity_Ad_FB2.pkm</string>
        </dict>
    </dict>
</plist>
