<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FB2aniverary2301.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,900},{640,254}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{640,254}}</string>
                <key>sourceSize</key>
                <string>{640,270}</string>
            </dict>
            <key>FB2aniverary2302.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{640,254}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{640,254}}</string>
                <key>sourceSize</key>
                <string>{640,270}</string>
            </dict>
            <key>FB2aniverary2303.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,2},{640,254}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{640,254}}</string>
                <key>sourceSize</key>
                <string>{640,270}</string>
            </dict>
            <key>FB2aniverary2304.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{640,254}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{640,254}}</string>
                <key>sourceSize</key>
                <string>{640,270}</string>
            </dict>
            <key>FB2aniverary2305.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,254}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{640,254}}</string>
                <key>sourceSize</key>
                <string>{640,270}</string>
            </dict>
            <key>FB2durenhao23.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,900},{640,244}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{640,244}}</string>
                <key>sourceSize</key>
                <string>{640,270}</string>
            </dict>
            <key>FB2gaojitaihejing.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,258},{640,246}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{640,246}}</string>
                <key>sourceSize</key>
                <string>{640,270}</string>
            </dict>
            <key>FB2gift10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1405,1448},{640,234}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{640,234}}</string>
                <key>sourceSize</key>
                <string>{640,270}</string>
            </dict>
            <key>FB2redongliyuan23.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,900},{640,246}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{640,246}}</string>
                <key>sourceSize</key>
                <string>{640,270}</string>
            </dict>
            <key>FB2taihejing.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,258},{640,246}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{640,246}}</string>
                <key>sourceSize</key>
                <string>{640,270}</string>
            </dict>
            <key>FB2zhuanjing23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1405,1210},{640,236}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{640,236}}</string>
                <key>sourceSize</key>
                <string>{640,270}</string>
            </dict>
            <key>FB2zuiqianglianmeng23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,972},{640,236}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{640,236}}</string>
                <key>sourceSize</key>
                <string>{640,270}</string>
            </dict>
            <key>FB2zuorikeji.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,734},{640,236}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{640,236}}</string>
                <key>sourceSize</key>
                <string>{640,270}</string>
            </dict>
            <key>FB_ertongjie_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,900},{640,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,240}}</string>
                <key>sourceSize</key>
                <string>{640,240}</string>
            </dict>
            <key>FB_qixi_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,258},{640,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,240}}</string>
                <key>sourceSize</key>
                <string>{640,240}</string>
            </dict>
            <key>FB_xiari_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,900},{640,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,240}}</string>
                <key>sourceSize</key>
                <string>{640,240}</string>
            </dict>
            <key>FBjgRobotBk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,496},{640,236}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{640,236}}</string>
                <key>sourceSize</key>
                <string>{640,270}</string>
            </dict>
            <key>FBjgRobotCp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,258},{640,236}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{640,236}}</string>
                <key>sourceSize</key>
                <string>{640,270}</string>
            </dict>
            <key>FBthemejgPumpkin01.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,258},{640,238}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,27},{640,238}}</string>
                <key>sourceSize</key>
                <string>{640,270}</string>
            </dict>
            <key>activity_icon_57741_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,1684},{312,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,167}}</string>
                <key>sourceSize</key>
                <string>{312,167}</string>
            </dict>
            <key>activity_icon_57757_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,1542},{314,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,343}}</string>
                <key>sourceSize</key>
                <string>{314,343}</string>
            </dict>
            <key>activity_icon_57757_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1435,1684},{312,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,167}}</string>
                <key>sourceSize</key>
                <string>{312,167}</string>
            </dict>
            <key>activity_icon_57774_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,1542},{314,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,343}}</string>
                <key>sourceSize</key>
                <string>{314,343}</string>
            </dict>
            <key>activity_icon_57774_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,1684},{312,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,167}}</string>
                <key>sourceSize</key>
                <string>{312,167}</string>
            </dict>
            <key>activity_icon_57790_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1542},{314,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,343}}</string>
                <key>sourceSize</key>
                <string>{314,343}</string>
            </dict>
            <key>activity_icon_57790_mode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,1210},{312,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,167}}</string>
                <key>sourceSize</key>
                <string>{312,167}</string>
            </dict>
            <key>activity_icon_gammastorm_mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1542},{314,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,343}}</string>
                <key>sourceSize</key>
                <string>{314,343}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Activity_Ad_FB11.pkm</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d07831a7552e04187a00d5497a86eb97:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Activity_Ad_FB11.pkm</string>
        </dict>
    </dict>
</plist>
