<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Loading2023celebration_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,1620},{640,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,271}}</string>
                <key>sourceSize</key>
                <string>{640,271}</string>
            </dict>
            <key>Loading2023celebration_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1620},{462,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{462,384}}</string>
                <key>sourceSize</key>
                <string>{462,384}</string>
            </dict>
            <key>Loading2023celebration_jinduBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,1891},{640,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{640,40}}</string>
                <key>sourceSize</key>
                <string>{642,42}</string>
            </dict>
            <key>legal-line7.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,1931},{549,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{549,16}}</string>
                <key>sourceSize</key>
                <string>{549,16}</string>
            </dict>
            <key>loadingBg_2023anniversary_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,810},{640,810}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,810}}</string>
                <key>sourceSize</key>
                <string>{640,810}</string>
            </dict>
            <key>loadingBg_2023anniversary_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,810},{640,810}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,810}}</string>
                <key>sourceSize</key>
                <string>{640,810}</string>
            </dict>
            <key>loadingBg_heimedall_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,0},{640,810}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,810}}</string>
                <key>sourceSize</key>
                <string>{640,810}</string>
            </dict>
            <key>loadingBg_heimedall_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{640,810}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,810}}</string>
                <key>sourceSize</key>
                <string>{640,810}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_DynamicLayout_FB2.pkm</string>
            <key>size</key>
            <string>{1280,2004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6edff927d928051cc2755877b3670df9:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_DynamicLayout_FB2.pkm</string>
        </dict>
    </dict>
</plist>
