<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_Libao_DAOJU_BG06.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{65,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,66}}</string>
                <key>sourceSize</key>
                <string>{65,66}</string>
            </dict>
            <key>FB_IC_hero5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{110,108}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_ExpackFix.pkm</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fc2b520baab7dc80d283f669dc03c3a:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_ExpackFix.pkm</string>
        </dict>
    </dict>
</plist>
