<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZB_icon_apc_dengying.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1434},{120,88}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,18},{120,88}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>ZB_icon_apc_huoxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1154},{116,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,12},{116,110}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>ZB_icon_apc_lilisi.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1712},{86,126}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,5},{86,126}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>ZB_icon_apc_xingqiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1308},{114,108}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{114,108}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>ZB_icon_chibang_bite.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1312},{134,120}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,120}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>ZB_icon_chibang_chiyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,1448},{132,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,22},{132,90}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>ZB_icon_guashi_dengying.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1584},{98,132}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{98,132}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>ZB_icon_guashi_huoxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1976},{126,70}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,28},{126,70}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>ZB_icon_guashi_lilisi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1040},{124,134}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>ZB_icon_guashi_xingqiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1984},{110,58}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,33},{110,58}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>ZB_icon_mingpai_pifu_dengying.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1160},{120,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{120,38}}</string>
                <key>sourceSize</key>
                <string>{130,56}</string>
            </dict>
            <key>ZB_icon_mingpai_pifu_dengying_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,138},{124,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,46},{124,40}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>ZB_icon_mingpai_pifu_huoxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1434},{116,52}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{116,52}}</string>
                <key>sourceSize</key>
                <string>{130,56}</string>
            </dict>
            <key>ZB_icon_mingpai_pifu_huoxing_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1584},{134,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,37},{134,60}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>ZB_icon_mingpai_pifu_lilisi.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1036},{122,36}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{122,36}}</string>
                <key>sourceSize</key>
                <string>{130,56}</string>
            </dict>
            <key>ZB_icon_mingpai_pifu_lilisi_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1272},{114,34}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,47},{114,34}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>ZB_icon_mingpai_pifu_xingqiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1172},{122,54}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{122,54}}</string>
                <key>sourceSize</key>
                <string>{130,56}</string>
            </dict>
            <key>ZB_icon_mingpai_pifu_xingqiong_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1966},{122,54}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,38},{122,54}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>ZB_icon_pifu_dengying.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1840},{124,108}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{124,108}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>ZB_icon_pifu_guanghuan34.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,200},{128,102}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{128,102}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>ZB_icon_pifu_guanghuan35.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,190},{134,112}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{134,112}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>ZB_icon_pifu_guichuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1556},{104,116}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{104,116}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>ZB_icon_pifu_huoxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1720},{132,118}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,11},{132,118}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>ZB_icon_pifu_lilisi.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1036},{110,116}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{110,116}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>ZB_icon_pifu_xingqiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,904},{134,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{134,126}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>ZB_icon_pifu_yongningsita.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1848},{124,126}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{124,126}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>ZB_icon_pifu_yuanzhuoqishidiaoxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1040},{130,124}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{130,124}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>ZB_icon_protect_heiyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,1718},{128,118}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{128,118}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>ZB_icon_qianchengtexiao_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1854},{124,128}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{124,128}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>ZB_icon_qianchengtexiao_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1448},{118,134}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{118,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>ZB_icon_qipao_dengying.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1848},{128,70}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,29},{128,70}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>ZB_icon_qipao_dlilisi.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,904},{130,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,33},{130,66}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>ZB_icon_qipao_huoxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1176},{132,88}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{132,88}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>ZB_icon_qipao_xingqiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1582},{128,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,28},{128,78}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>ZB_icon_touxiangkuang_dengying.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1176},{134,122}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{134,122}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>ZB_icon_touxiangkuang_dengying_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{300,274}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{300,274}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ZB_icon_touxiangkuang_huoxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,2},{130,134}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{130,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>ZB_icon_touxiangkuang_huoxing_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{290,300}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{290,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ZB_icon_touxiangkuang_lilisi.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1310},{122,120}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{122,120}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>ZB_icon_touxiangkuang_lilisi_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{296,292}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{296,292}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ZB_icon_touxiangkuang_xingqiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,904},{130,120}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{130,120}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>ZB_icon_touxiangkuang_xingqiong_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,304},{280,258}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,12},{280,258}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ZB_pifu_dengying.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{186,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{186,58}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>ZB_pifu_huoxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{196,60}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,60}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>ZB_pifu_lilisi.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{170,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,4},{170,50}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>ZB_pifu_xingqiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{194,56}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{194,56}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>ZB_qipao_pifu_dengying.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,1984},{106,58}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{106,58}}</string>
                <key>sourceSize</key>
                <string>{132,88}</string>
            </dict>
            <key>ZB_qipao_pifu_huoxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1312},{132,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,88}}</string>
                <key>sourceSize</key>
                <string>{132,88}</string>
            </dict>
            <key>ZB_qipao_pifu_lilisi.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1674},{106,54}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,13},{106,54}}</string>
                <key>sourceSize</key>
                <string>{132,88}</string>
            </dict>
            <key>ZB_qipao_pifu_xingqiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1582},{128,78}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{128,78}}</string>
                <key>sourceSize</key>
                <string>{132,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Fb_DecorateImage10.pkm</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cacbaae5e9e8c72ad0d556f9085a0471:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Fb_DecorateImage10.pkm</string>
        </dict>
    </dict>
</plist>
