<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FB_IC_chuanqiduanwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,924},{457,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{457,365}}</string>
                <key>sourceSize</key>
                <string>{457,365}</string>
            </dict>
            <key>FB_IC_giftcoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,1856},{227,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,175}}</string>
                <key>sourceSize</key>
                <string>{227,175}</string>
            </dict>
            <key>FB_IC_xingxing5.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1871},{313,155}}</string>
                <key>offset</key>
                <string>{0,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,160},{313,155}}</string>
                <key>sourceSize</key>
                <string>{457,365}</string>
            </dict>
            <key>Icon_allstar31_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{512,452}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{512,452}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Icon_allstar32_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,2},{454,442}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,26},{454,442}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Icon_allstar33_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,472},{474,380}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,79},{474,380}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Icon_allstar37_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,1544},{280,262}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,124},{280,262}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Icon_allstar43_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{1840,1826},{192,188}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,48},{192,188}}</string>
                <key>sourceSize</key>
                <string>{274,274}</string>
            </dict>
            <key>Icon_allstar4700301.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{504,468}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{504,468}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Icon_allstar4700302.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,2},{486,468}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{486,468}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Icon_allstar4700303.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{472,454}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,13},{472,454}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Icon_allstar4700304.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,446},{434,420}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,47},{434,420}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Icon_allstar4700305.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,868},{402,420}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,47},{402,420}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Icon_allstar4700307.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,1238},{372,412}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,60},{372,412}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Icon_allstar4701101.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,854},{468,382}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,79},{468,382}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Icon_allstar4701102.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,456},{478,466}}</string>
                <key>offset</key>
                <string>{3,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{478,466}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Icon_allstar4_big_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,1612},{191,158}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,158}}</string>
                <key>sourceSize</key>
                <string>{199,188}</string>
            </dict>
            <key>icon_campfangyu_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,500},{26,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{26,30}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>icon_gongchengfangyu_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,710},{26,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{26,26}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>icon_gongchenggongji_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,764},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{24,26}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>icon_gongji_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,528},{22,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{22,34}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>icon_jiagongsudu_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,738},{28,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{28,24}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>icon_jijiefangyu_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,620},{26,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{26,28}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>icon_jijiegongji_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,592},{26,28}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{26,28}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>icon_shangbingzhiliao_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,564},{28,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{28,26}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>icon_xingjunsudu_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,682},{26,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{26,26}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>icon_zhanshufangyu_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,472},{26,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{26,30}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>icon_zhanshugongji_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,648},{22,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{22,32}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>icon_ziyuanchanliang_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,456},{24,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{24,34}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>img_arms_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1908},{482,130}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{482,130}}</string>
                <key>sourceSize</key>
                <string>{490,136}</string>
            </dict>
            <key>img_arms_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1418},{488,136}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{488,136}}</string>
                <key>sourceSize</key>
                <string>{490,136}</string>
            </dict>
            <key>img_arms_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,928},{488,136}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{488,136}}</string>
                <key>sourceSize</key>
                <string>{490,136}</string>
            </dict>
            <key>img_arms_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1896,1336},{488,136}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{488,136}}</string>
                <key>sourceSize</key>
                <string>{490,136}</string>
            </dict>
            <key>img_satellite_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,1826},{258,216}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,41},{258,216}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>img_satellite_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1428},{256,258}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{256,258}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>img_satellite_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1291},{268,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,23},{268,254}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>img_satellite_2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,1291},{232,256}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,22},{232,256}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>img_satellite_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,928},{286,254}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,19},{286,254}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>item209007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1395,1238},{52,102}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,15},{52,102}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>item215334_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,1612},{222,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,247}}</string>
                <key>sourceSize</key>
                <string>{222,247}</string>
            </dict>
            <key>item215473.png</key>
            <dict>
                <key>frame</key>
                <string>{{1966,136},{132,46}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,40},{132,46}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>item215578.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,1082},{126,105}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,26},{126,105}}</string>
                <key>sourceSize</key>
                <string>{134,143}</string>
            </dict>
            <key>item215788.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,1196},{122,44}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,9},{122,44}}</string>
                <key>sourceSize</key>
                <string>{130,56}</string>
            </dict>
            <key>item215797.png</key>
            <dict>
                <key>frame</key>
                <string>{{1966,270},{130,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{130,46}}</string>
                <key>sourceSize</key>
                <string>{130,56}</string>
            </dict>
            <key>item215833.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,1549},{256,236}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,31},{256,236}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>item217025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1184},{242,282}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,13},{242,282}}</string>
                <key>sourceSize</key>
                <string>{314,314}</string>
            </dict>
            <key>item217212.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1547},{253,245}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,21},{253,245}}</string>
                <key>sourceSize</key>
                <string>{279,279}</string>
            </dict>
            <key>item219215.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,1060},{134,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,47},{134,40}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>item220005.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,1787},{134,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{134,82}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>item220271.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,1772},{132,82}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,24},{132,82}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>item220298.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,1787},{132,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,26},{132,82}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>item220351.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,924},{134,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,46},{134,40}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>item220477.png</key>
            <dict>
                <key>frame</key>
                <string>{{1966,2},{132,46}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,42},{132,46}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>item220491.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,1836},{130,82}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,22},{130,82}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>item220503.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1794},{132,82}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,26},{132,82}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>item220521.png</key>
            <dict>
                <key>frame</key>
                <string>{{1966,402},{134,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,44},{134,44}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>item220584.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,986},{130,42}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,43},{130,42}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>item220603.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1934},{134,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{134,82}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>item220659.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,854},{130,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,44},{130,44}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>item220793.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,1118},{134,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,47},{134,40}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>item227052.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1686},{254,246}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,246}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>item227091.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,1210},{124,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,105}}</string>
                <key>sourceSize</key>
                <string>{124,105}</string>
            </dict>
            <key>item310050.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,1408},{134,82}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{134,82}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>item310054.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,1272},{134,82}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{134,82}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>item310081.png</key>
            <dict>
                <key>frame</key>
                <string>{{1395,1521},{486,183}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,134},{486,183}}</string>
                <key>sourceSize</key>
                <string>{694,463}</string>
            </dict>
            <key>item310133.png</key>
            <dict>
                <key>frame</key>
                <string>{{1946,674},{134,86}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,35},{134,86}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>item312073.png</key>
            <dict>
                <key>frame</key>
                <string>{{1946,538},{134,86}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{134,86}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>item312318.png</key>
            <dict>
                <key>frame</key>
                <string>{{1946,810},{134,82}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,34},{134,82}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>item511001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1449,1272},{361,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,247}}</string>
                <key>sourceSize</key>
                <string>{361,247}</string>
            </dict>
            <key>item710004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,946},{134,104}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{134,104}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_goods_FB1.pkm</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec091e07b83425b8aa80a55ba419e63e:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_goods_FB1.pkm</string>
        </dict>
    </dict>
</plist>
