<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FB_IC_hero79_TOU_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,1},{695,1152}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{375,117},{695,1152}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero183_bust_new_80120.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{699,1154}}</string>
                <key>offset</key>
                <string>{34,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,191},{699,1154}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero184_bust_new_80128.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1156},{679,1182}}</string>
                <key>offset</key>
                <string>{50,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{438,178},{679,1182}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>herobody24_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,697},{693,1180}}</string>
                <key>offset</key>
                <string>{96,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{477,153},{693,1180}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_heros_FB36.pkm</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b35ec3908ea302d389b71dacb4e1ee4:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_heros_FB36.pkm</string>
        </dict>
    </dict>
</plist>
