<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero129_bust_new_80029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,795},{745,1172}}</string>
                <key>offset</key>
                <string>{80,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{435,108},{745,1172}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero135_bust_new_80034.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,1},{793,1106}}</string>
                <key>offset</key>
                <string>{-15,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{316,178},{793,1106}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero173_bust_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1060},{723,1222}}</string>
                <key>offset</key>
                <string>{47,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{413,100},{723,1222}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>ico108309_body_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{835,1058}}</string>
                <key>offset</key>
                <string>{31,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{341,22},{835,1058}}</string>
                <key>sourceSize</key>
                <string>{1455,1080}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_heros_FB26.pkm</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:383095f868e05dee548e1a5725f109b3:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_heros_FB26.pkm</string>
        </dict>
    </dict>
</plist>
