<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero100_bust_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,1},{1075,1208}}</string>
                <key>offset</key>
                <string>{-110,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,34},{1075,1208}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero130_bust_new_80023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{955,1292}}</string>
                <key>offset</key>
                <string>{-5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,48},{955,1292}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero146_bust_new_80065.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1294},{751,1250}}</string>
                <key>offset</key>
                <string>{20,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{372,79},{751,1250}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_heros_FB11.pkm</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d448881011679fa08f3ddeb5593aedb7:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_heros_FB11.pkm</string>
        </dict>
    </dict>
</plist>
