<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero136_bust_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,1097},{937,1262}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,67},{937,1262}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero145_bust_new_80058.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{763,1314}}</string>
                <key>offset</key>
                <string>{29,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{375,46},{763,1314}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero182_bust_new_stage4.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,1},{1095,1274}}</string>
                <key>offset</key>
                <string>{74,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,81},{1095,1274}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero8_bust_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1316},{641,754}}</string>
                <key>offset</key>
                <string>{22,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{429,387},{641,754}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_heros_FB5.pkm</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91f895baa6c29b8ed46209dee6d96ffb:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_heros_FB5.pkm</string>
        </dict>
    </dict>
</plist>
