<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FB_IC_hero19_TOU_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1339,1118},{311,912}}</string>
                <key>offset</key>
                <string>{47,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{619,319},{311,912}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero156_bust_new_80081.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1190},{755,1016}}</string>
                <key>offset</key>
                <string>{40,-117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{390,289},{755,1016}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero179_bust_new_80107.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,1},{687,1134}}</string>
                <key>offset</key>
                <string>{25,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{409,226},{687,1134}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero2002_bust_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{649,1188}}</string>
                <key>offset</key>
                <string>{-24,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{379,172},{649,1188}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>herobody37_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1339,1},{691,1116}}</string>
                <key>offset</key>
                <string>{-3,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{379,148},{691,1116}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_heros_FB40.pkm</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a423ef6cd0eb096557d7047ed20a5a1e:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_heros_FB40.pkm</string>
        </dict>
    </dict>
</plist>
