<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero100_bust_new_80015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,655},{835,1176}}</string>
                <key>offset</key>
                <string>{-86,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,184},{835,1176}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero157_bust_new_80093.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,1},{349,1190}}</string>
                <key>offset</key>
                <string>{-1,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{552,170},{349,1190}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero158_bust_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1196},{847,1170}}</string>
                <key>offset</key>
                <string>{43,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{347,190},{847,1170}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero75_bust_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{825,1194}}</string>
                <key>offset</key>
                <string>{28,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{343,145},{825,1194}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>ico107306_body_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,1},{653,866}}</string>
                <key>offset</key>
                <string>{-7,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{394,188},{653,866}}</string>
                <key>sourceSize</key>
                <string>{1455,1080}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_heros_FB16.pkm</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5800f4119e87b7d16c4182fb20d25acf:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_heros_FB16.pkm</string>
        </dict>
    </dict>
</plist>
