<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero168_bust_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,1},{903,1120}}</string>
                <key>offset</key>
                <string>{-41,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,207},{903,1120}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero171_bust_new_80114.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1154},{845,1172}}</string>
                <key>offset</key>
                <string>{36,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{341,188},{845,1172}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero97_bust_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,1122},{869,872}}</string>
                <key>offset</key>
                <string>{84,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{377,309},{869,872}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero9_bust_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{961,1152}}</string>
                <key>offset</key>
                <string>{6,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,127},{961,1152}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_heros_FB15.pkm</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1b88dbd6fe1d20946198dea36c76812:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_heros_FB15.pkm</string>
        </dict>
    </dict>
</plist>
