<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FB_IC_hero13_TOU_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1123,1},{599,1102}}</string>
                <key>offset</key>
                <string>{43,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{471,169},{599,1102}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero115_bust_new_80019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1220},{629,1052}}</string>
                <key>offset</key>
                <string>{22,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{435,228},{629,1052}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero118_bust_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{541,1218}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{445,77},{541,1218}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero170_bust_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,1},{579,1140}}</string>
                <key>offset</key>
                <string>{-4,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{434,182},{579,1140}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_heros_FB58.pkm</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f768c88a82dad7dcf03be43143e5794e:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_heros_FB58.pkm</string>
        </dict>
    </dict>
</plist>
