<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero124_bust_new_80026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,910},{805,1108}}</string>
                <key>offset</key>
                <string>{-13,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{312,90},{805,1108}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero139_bust_new_80050.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{559,1280}}</string>
                <key>offset</key>
                <string>{-42,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{406,53},{559,1280}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero143_bust_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1287},{741,1202}}</string>
                <key>offset</key>
                <string>{-24,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{333,117},{741,1202}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero183_bust_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,561},{725,1230}}</string>
                <key>offset</key>
                <string>{2,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{367,126},{725,1230}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero85_bust_new_80004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,1},{685,908}}</string>
                <key>offset</key>
                <string>{68,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{453,186},{685,908}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_heros_FB23.pkm</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17845b9ec509d0f7b41817cfa71a255a:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_heros_FB23.pkm</string>
        </dict>
    </dict>
</plist>
