<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero154_bust_new_80079.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1182},{857,968}}</string>
                <key>offset</key>
                <string>{74,-158}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{373,354},{857,968}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero160_bust_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,1},{391,1154}}</string>
                <key>offset</key>
                <string>{33,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,203},{391,1154}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero95_bust_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{733,1180}}</string>
                <key>offset</key>
                <string>{28,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{389,174},{733,1180}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>herobody23_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,1156},{829,1038}}</string>
                <key>offset</key>
                <string>{-45,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,172},{829,1038}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>herobody38_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,1},{763,1128}}</string>
                <key>offset</key>
                <string>{-39,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{307,164},{763,1128}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_heros_FB29.pkm</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c6808a6bff012c3079fbd71c57071b7:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_heros_FB29.pkm</string>
        </dict>
    </dict>
</plist>
