<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero140_bust_new_80055.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{797,1176}}</string>
                <key>offset</key>
                <string>{72,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{401,184},{797,1176}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero20018_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,1172},{807,906}}</string>
                <key>offset</key>
                <string>{-137,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,174},{807,906}}</string>
                <key>sourceSize</key>
                <string>{1455,1080}</string>
            </dict>
            <key>hero77_bust_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1599,1},{419,1104}}</string>
                <key>offset</key>
                <string>{82,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{600,167},{419,1104}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero78_bust_new_80039.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,1},{799,1170}}</string>
                <key>offset</key>
                <string>{-17,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{311,168},{799,1170}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero88_bust_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1178},{825,1132}}</string>
                <key>offset</key>
                <string>{-30,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{285,152},{825,1132}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_heros_FB19.pkm</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92339383cf109abb7624dd846c9f08dc:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_heros_FB19.pkm</string>
        </dict>
    </dict>
</plist>
