<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FB_IC_hero32_TOU_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,1152},{471,940}}</string>
                <key>offset</key>
                <string>{48,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{540,209},{471,940}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero106_bust_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1192},{659,1060}}</string>
                <key>offset</key>
                <string>{-3,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{395,220},{659,1060}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero108_bust_new_80022.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,1},{607,1150}}</string>
                <key>offset</key>
                <string>{-5,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,152},{607,1150}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero115_bust_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1197,1},{657,1062}}</string>
                <key>offset</key>
                <string>{5,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{404,215},{657,1062}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero137_bust_new_80042.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{587,1190}}</string>
                <key>offset</key>
                <string>{-46,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{388,161},{587,1190}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_heros_FB50.pkm</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4761107e1cb31fb63a5212fdee8cd03:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_heros_FB50.pkm</string>
        </dict>
    </dict>
</plist>
