<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero110_bust_new_80008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,1},{1033,1258}}</string>
                <key>offset</key>
                <string>{0,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,0},{1033,1258}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero155_bust_new_80072.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{999,1294}}</string>
                <key>offset</key>
                <string>{110,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{338,66},{999,1294}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero62_bust_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1296},{741,1292}}</string>
                <key>offset</key>
                <string>{61,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{418,68},{741,1292}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_heros_FB10.pkm</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b87bf2ea2e4d4ce04d28ec5278d6ac3:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_heros_FB10.pkm</string>
        </dict>
    </dict>
</plist>
