<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero126_bust_new_80033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{807,1278}}</string>
                <key>offset</key>
                <string>{-33,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,42},{807,1278}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero20024_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,1},{1225,878}}</string>
                <key>offset</key>
                <string>{-97,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,198},{1225,878}}</string>
                <key>sourceSize</key>
                <string>{1455,1080}</string>
            </dict>
            <key>snake_lianmeng_jieduan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,880},{1183,1164}}</string>
                <key>offset</key>
                <string>{-136,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,192},{1183,1164}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_heros_FB7.pkm</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f71bd0c8743b5a4fb96059c539a471a:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_heros_FB7.pkm</string>
        </dict>
    </dict>
</plist>
