<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FB_IC_hero24_TOU_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1246},{785,814}}</string>
                <key>offset</key>
                <string>{8,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{343,252},{785,814}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero137_bust_new_80053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{809,1244}}</string>
                <key>offset</key>
                <string>{81,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{404,15},{809,1244}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>herobody25_new_80002.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,1},{1067,1204}}</string>
                <key>offset</key>
                <string>{102,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{296,143},{1067,1204}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>robot_lianmeng_jieduan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,1069},{951,1188}}</string>
                <key>offset</key>
                <string>{-5,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,172},{951,1188}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_heros_FB12.pkm</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:684b23381efa02c2976d2344d9e2d16f:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_heros_FB12.pkm</string>
        </dict>
    </dict>
</plist>
