<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FB_IC_hero10_TOU_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,1},{655,1162}}</string>
                <key>offset</key>
                <string>{59,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{459,166},{655,1162}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero107_bust_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1288},{659,1150}}</string>
                <key>offset</key>
                <string>{13,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{411,205},{659,1150}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero148_bust_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,1},{613,1236}}</string>
                <key>offset</key>
                <string>{-24,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{397,124},{613,1236}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero177_bust_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{591,1286}}</string>
                <key>offset</key>
                <string>{-67,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{365,0},{591,1286}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero85_bust_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,1238},{527,844}}</string>
                <key>offset</key>
                <string>{11,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{475,229},{527,844}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_heros_FB42.pkm</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a310f5aa2cd2d83d1ca2275369edd64:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_heros_FB42.pkm</string>
        </dict>
    </dict>
</plist>
