<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FB_IC_hero28_TOU_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,1},{831,1078}}</string>
                <key>offset</key>
                <string>{-42,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,175},{831,1078}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero105_bust_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,833},{885,1010}}</string>
                <key>offset</key>
                <string>{1,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{286,232},{885,1010}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero20019_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1136},{909,936}}</string>
                <key>offset</key>
                <string>{20,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{293,144},{909,936}}</string>
                <key>sourceSize</key>
                <string>{1455,1080}</string>
            </dict>
            <key>hero96_bust_new_80096.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{791,1134}}</string>
                <key>offset</key>
                <string>{-32,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,226},{791,1134}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_heros_FB22.pkm</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4589e3a7e368ab9bbe2d1f63ea8e059d:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_heros_FB22.pkm</string>
        </dict>
    </dict>
</plist>
