<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero112_bust_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1246},{615,1132}}</string>
                <key>offset</key>
                <string>{15,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{435,163},{615,1132}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero135_bust_new_80052.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{559,1244}}</string>
                <key>offset</key>
                <string>{21,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{469,41},{559,1244}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero155_bust_new_80076.png</key>
            <dict>
                <key>frame</key>
                <string>{{1129,1},{581,1196}}</string>
                <key>offset</key>
                <string>{-7,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{430,164},{581,1196}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero69_bust_new_80007.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,1},{567,1226}}</string>
                <key>offset</key>
                <string>{48,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{492,134},{567,1226}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_heros_FB51.pkm</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c3d679a42203198400cacaba1e8056d:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_heros_FB51.pkm</string>
        </dict>
    </dict>
</plist>
