<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero100_bust_new_80044.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1234},{639,1118}}</string>
                <key>offset</key>
                <string>{-51,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{357,132},{639,1118}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero130_bust_new_80078.png</key>
            <dict>
                <key>frame</key>
                <string>{{1211,1},{661,1076}}</string>
                <key>offset</key>
                <string>{-12,-138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{385,280},{661,1076}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero151_bust_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{583,1232}}</string>
                <key>offset</key>
                <string>{20,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{456,123},{583,1232}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero168_bust_new_80129.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,1},{625,1142}}</string>
                <key>offset</key>
                <string>{-15,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{400,217},{625,1142}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero66_bust_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1211,1078},{565,956}}</string>
                <key>offset</key>
                <string>{46,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{491,181},{565,956}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_heros_FB47.pkm</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4feb6f4350beab9690fdd615e9f4adce:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_heros_FB47.pkm</string>
        </dict>
    </dict>
</plist>
