<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FB_IC_hero27_TOU_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1204},{601,1128}}</string>
                <key>offset</key>
                <string>{28,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{455,149},{601,1128}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero128_bust_new_80032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{563,1202}}</string>
                <key>offset</key>
                <string>{27,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,106},{563,1202}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero170_bust_new_80099.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,1},{573,1178}}</string>
                <key>offset</key>
                <string>{9,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{450,182},{573,1178}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero94_bust_new_80041.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,1},{589,1144}}</string>
                <key>offset</key>
                <string>{12,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{445,157},{589,1144}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_heros_FB55.pkm</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27a172bfda690070b8138f18b5a0b8cc:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_heros_FB55.pkm</string>
        </dict>
    </dict>
</plist>
