<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero111_bust_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,1},{557,1168}}</string>
                <key>offset</key>
                <string>{74,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{523,164},{557,1168}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero169_bust_new_80102.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{541,1202}}</string>
                <key>offset</key>
                <string>{42,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{499,152},{541,1202}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero174_bust_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,1},{547,1184}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{452,85},{547,1184}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero185_bust_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1204},{569,1140}}</string>
                <key>offset</key>
                <string>{27,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{470,220},{569,1140}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_heros_FB61.pkm</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:641615e74f6df35c6f1379311ba36283:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_heros_FB61.pkm</string>
        </dict>
    </dict>
</plist>
