<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero138_bust_new_80061.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,735},{719,1212}}</string>
                <key>offset</key>
                <string>{29,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{397,148},{719,1212}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero148_bust_new_80069.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,1},{733,1182}}</string>
                <key>offset</key>
                <string>{14,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{375,178},{733,1182}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero151_bust_new_80064.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1082},{685,1266}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{385,87},{685,1266}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero65_bust_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{801,1080}}</string>
                <key>offset</key>
                <string>{31,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{358,159},{801,1080}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_heros_FB28.pkm</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:195509c75b0f3ca8c9699a48f51cf533:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_heros_FB28.pkm</string>
        </dict>
    </dict>
</plist>
