<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FB_IC_hero6_TOU_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1240},{659,1126}}</string>
                <key>offset</key>
                <string>{108,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{506,147},{659,1126}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero127_bust_new_80011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{591,1238}}</string>
                <key>offset</key>
                <string>{0,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{432,122},{591,1238}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero146_bust_new_80075.png</key>
            <dict>
                <key>frame</key>
                <string>{{1187,1},{613,1210}}</string>
                <key>offset</key>
                <string>{-57,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{364,150},{613,1210}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero70_bust_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,1},{593,1224}}</string>
                <key>offset</key>
                <string>{46,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{477,47},{593,1224}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_heros_FB44.pkm</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d0514f99ef5e3d96bf2e2090e48fa07:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_heros_FB44.pkm</string>
        </dict>
    </dict>
</plist>
