<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero132_bust_new_80028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{647,1048}}</string>
                <key>offset</key>
                <string>{9,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{413,252},{647,1048}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero144_bust_new_80073.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,1},{567,1200}}</string>
                <key>offset</key>
                <string>{-5,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{439,160},{567,1200}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero160_bust_new_80087.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1470},{563,1210}}</string>
                <key>offset</key>
                <string>{-67,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{379,150},{563,1210}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero163_bust_new_80113.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1050},{419,1218}}</string>
                <key>offset</key>
                <string>{1,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{519,142},{419,1218}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero167_bust_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,569},{559,1216}}</string>
                <key>offset</key>
                <string>{-17,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{431,140},{559,1216}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_heros_FB54.pkm</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:714653d4e33084c9b7a1535fe292cbc9:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_heros_FB54.pkm</string>
        </dict>
    </dict>
</plist>
