<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FB_IC_hero3_TOU_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,1},{595,1096}}</string>
                <key>offset</key>
                <string>{28,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{458,135},{595,1096}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero102_bust_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1184},{615,1060}}</string>
                <key>offset</key>
                <string>{0,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{420,224},{615,1060}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero136_bust_new_80051.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,1},{593,1100}}</string>
                <key>offset</key>
                <string>{-66,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{365,192},{593,1100}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>herobody31_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{551,1182}}</string>
                <key>offset</key>
                <string>{26,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{478,133},{551,1182}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_heros_FB60.pkm</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd47119a143898124c8b1ca339cc0812:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_heros_FB60.pkm</string>
        </dict>
    </dict>
</plist>
