<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FB_IC_hero5_TOU_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{585,1288}}</string>
                <key>offset</key>
                <string>{35,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{470,15},{585,1288}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero115_bust_new_80037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,587},{607,1230}}</string>
                <key>offset</key>
                <string>{29,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{453,67},{607,1230}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero130_bust_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1195},{663,1130}}</string>
                <key>offset</key>
                <string>{17,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{413,100},{663,1130}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero184_bust_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,922},{671,1122}}</string>
                <key>offset</key>
                <string>{25,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{417,234},{671,1122}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>zombie_1_body_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,1},{619,920}}</string>
                <key>offset</key>
                <string>{97,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{515,160},{619,920}}</string>
                <key>sourceSize</key>
                <string>{1455,1080}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_heros_FB43.pkm</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04c2fc82ff9905f4a2fd4aec9ea933e0:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_heros_FB43.pkm</string>
        </dict>
    </dict>
</plist>
