<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero0_bust_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1213,1},{625,1158}}</string>
                <key>offset</key>
                <string>{46,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{461,165},{625,1158}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero117_bust_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1},{621,1164}}</string>
                <key>offset</key>
                <string>{-5,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,155},{621,1164}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero148_bust_new_80074.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{589,1228}}</string>
                <key>offset</key>
                <string>{29,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{462,132},{589,1228}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
            <key>hero_yonglanb_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1230},{641,1128}}</string>
                <key>offset</key>
                <string>{52,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{459,149},{641,1128}}</string>
                <key>sourceSize</key>
                <string>{1455,1360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_heros_FB45.pkm</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:acc4af9171d167c1fed2d3c52f1c9a0f:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_heros_FB45.pkm</string>
        </dict>
    </dict>
</plist>
