<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FBnewGeneral_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{563,985}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{563,985}}</string>
                <key>sourceSize</key>
                <string>{563,985}</string>
            </dict>
            <key>FBnewGeneral_BG_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,573},{631,1079}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{631,1079}}</string>
                <key>sourceSize</key>
                <string>{637,1095}</string>
            </dict>
            <key>FBnewGeneral_TipsBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,573},{127,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,149}}</string>
                <key>sourceSize</key>
                <string>{127,149}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FBnewGeneral.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f9b6ed71f1c6f7e4d5a90be64a451db:1/1$</string>
            <key>textureFileName</key>
            <string>FBnewGeneral.pvr.ccz</string>
        </dict>
    </dict>
</plist>
